accelerate==1.3.0
acres==0.2.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
attrs==25.1.0
beautifulsoup4==4.12.3
blinker==1.9.0
blis==1.2.0
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.7
click-default-group==1.2.4
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.11
dataclasses-json==0.6.7
Deprecated==1.2.18
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.7.0
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
etelemetry==0.3.1
faiss-cpu==1.10.0
fastapi==0.115.8
fastapi-cli==0.0.7
filelock==3.17.0
filetype==1.2.0
Flask==3.1.0
Flask-Cors==5.0.0
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.12.0
geopandas==1.0.1
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.28.1
idna==3.10
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.7
langchain==0.3.18
langchain-community==0.3.17
langchain-core==0.3.34
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
langcodes==3.5.0
langsmith==0.3.8
language_data==1.3.0
llama-cloud==0.1.12
llama-cloud-services==0.6.1
llama-index==0.12.17
llama-index-agent-openai==0.4.5
llama-index-cli==0.4.0
llama-index-core==0.12.17
llama-index-embeddings-huggingface==0.5.1
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.4
llama-index-llms-huggingface==0.4.2
llama-index-llms-openai==0.3.19
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.5
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.1
looseversion==1.3.0
lxml==5.3.1
marisa-trie==1.2.1
markdown-it-py==3.0.0
markdownify==0.13.1
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
murmurhash==1.0.12
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.2
nltk==3.9.1
numpy==1.26.3
openai==1.61.1
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
pillow==11.0.0
pluggy==1.5.0
preshed==3.0.9
propcache==0.2.1
prov==2.0.1
psutil==6.1.1
puremagic==1.28
pydantic==2.10.6
pydantic-extra-types==2.10.2
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydot==3.0.4
pydub==0.25.1
Pygments==2.19.1
PyMuPDF==1.25.3
pyogrio==0.10.0
pyparsing==3.2.0
pypdf==5.3.0
pyproj==3.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jobspy==1.1.76
python-multipart==0.0.20
pytz==2024.2
pyxnat==1.6.3
PyYAML==6.0.2
rdflib==6.3.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rich-toolkit==0.13.2
safetensors==0.5.2
scikit-fuzzy==0.5.0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
sentence-transformers==3.4.1
setuptools==75.8.0
shapely==2.0.6
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.38
sqlite-fts4==1.0.3
sqlite-utils==3.37
srsly==2.5.1
starlette==0.45.3
striprtf==0.0.26
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
text-generation==0.7.0
thinc==8.3.4
threadpoolctl==3.5.0
tiktoken==0.8.0
tls-client==1.0.1
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1
traits==7.0.2
transformers==4.48.2
typer==0.15.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
urllib3==2.3.0
uvicorn==0.34.0
wasabi==1.1.3
watchfiles==1.0.4
weasel==0.4.1
websockets==14.2
Werkzeug==3.1.3
wrapt==1.17.2
yarl==1.18.3
yt-dlp==2025.1.26
zstandard==0.23.0
